.calendar {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  max-width: 330px;
  .date-range {
    width: fit-content;
    border-radius: 10px;
  }
}

.calendar-btn {display: none;}

@media (max-width: 1439.99px) {
  .calendar {
    position: relative;
    left: -45px;
    top: 10px;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-400px);
    transition: all 1s ease-in-out;

    .date-range {
      box-shadow: 10px 10px 50px 2px rgba(120, 120, 120, 0.7);
      border-radius: 10px;
      position: absolute;
      left: 0;
    }

    &.active {
      visibility: visible;
      opacity: 1;
      transform: translateY(0px);
    }
  }
  .calendar-btn {
    display: block;
    cursor: pointer;
    width: 35px;
  }
}
@media (max-width: 900px) {
  .calendar {
    order: 0;
    left: -50px;
    top: 20px;
  }
}